<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <a href="#" title="Charlie & Dogs"><img src="logo.svg" alt="Charlie & Dogs"></a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="input-group buscar">
              <input type="text" class="form-control input-lg" placeholder="Buscar por...">
              <span class="input-group-btn">
                <button class="btn btn-default input-lg" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
        </div>
    </div>
</div>
